USE [SMILE]
GO
/****** Object:  Table [dbo].[Organisation]    Script Date: 3/30/2026 11:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation](
	[OrgId] [int] IDENTITY(1,1) NOT NULL,
	[OrgName] [varchar](255) NOT NULL,
	[OrgEmail] [varchar](255) NOT NULL,
	[Type] [varchar](255) NOT NULL,
	[Province] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[DateCreated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/30/2026 11:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StuID] [int] IDENTITY(1,1) NOT NULL,
	[StuName] [varchar](255) NOT NULL,
	[StuLastName] [varchar](255) NOT NULL,
	[StuEmail] [varchar](255) NOT NULL,
	[StuProvince] [varchar](255) NOT NULL,
	[StuEducationLevel] [varchar](255) NOT NULL,
	[StuPassword] [varchar](255) NOT NULL,
	[DateCreated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Organisation] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
