USE [master]
GO
/****** Object:  Database [SMILE]    Script Date: 2026/05/19 23:12:00 ******/
CREATE DATABASE [SMILE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMILE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SMILE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SMILE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SMILE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMILE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMILE]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2026/05/19 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](100) NOT NULL,
	[AdminEmail] [varchar](255) NOT NULL,
	[AdminPassword] [varchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AdminEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 2026/05/19 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[AppID] [int] IDENTITY(1,1) NOT NULL,
	[OppID] [int] NOT NULL,
	[StuID] [int] NOT NULL,
	[Status] [varchar](20) NULL,
	[DateApplied] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Student_Opp] UNIQUE NONCLUSTERED 
(
	[OppID] ASC,
	[StuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2026/05/19 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[OppID] [int] NOT NULL,
	[StuID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [varchar](max) NULL,
	[DateSubmitted] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opportunities]    Script Date: 2026/05/19 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opportunities](
	[OppID] [int] IDENTITY(1,1) NOT NULL,
	[OrgId] [int] NOT NULL,
	[Title] [varchar](120) NOT NULL,
	[OppType] [varchar](50) NOT NULL,
	[Province] [varchar](50) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Requirements] [varchar](max) NULL,
	[ApplicationLink] [varchar](255) NULL,
	[MaxApplicants] [int] NULL,
	[ApplicationDeadline] [date] NOT NULL,
	[StartDate] [date] NULL,
	[Status] [varchar](20) NULL,
	[DateCreated] [datetime] NULL,
	[Lat] [decimal](9, 6) NULL,
	[Lng] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[OppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organisation]    Script Date: 2026/05/19 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation](
	[OrgId] [int] IDENTITY(1,1) NOT NULL,
	[OrgName] [varchar](255) NOT NULL,
	[OrgEmail] [varchar](255) NOT NULL,
	[Type] [varchar](255) NOT NULL,
	[Province] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[DateCreated] [datetime] NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedCareerDocs]    Script Date: 2026/05/19 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedCareerDocs](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[StuID] [int] NULL,
	[CareerTitle] [varchar](100) NULL,
	[DocContent] [nvarchar](max) NULL,
	[DateSaved] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2026/05/19 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StuID] [int] IDENTITY(1,1) NOT NULL,
	[StuName] [varchar](255) NOT NULL,
	[StuLastName] [varchar](255) NOT NULL,
	[StuEmail] [varchar](255) NOT NULL,
	[StuProvince] [varchar](255) NOT NULL,
	[StuEducationLevel] [varchar](255) NOT NULL,
	[StuPassword] [varchar](255) NOT NULL,
	[DateCreated] [datetime] NULL,
	[StuBio] [nvarchar](max) NULL,
	[ProfilePicUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentInterests]    Script Date: 2026/05/19 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentInterests](
	[InterestID] [int] IDENTITY(1,1) NOT NULL,
	[StuID] [int] NULL,
	[Realistic] [int] NULL,
	[Investigative] [int] NULL,
	[Artistic] [int] NULL,
	[Social] [int] NULL,
	[Enterprising] [int] NULL,
	[Conventional] [int] NULL,
	[TopInterest] [varchar](50) NULL,
	[DateTaken] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InterestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [DateApplied]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [DateSubmitted]
GO
ALTER TABLE [dbo].[Opportunities] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Opportunities] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Organisation] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Organisation] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[SavedCareerDocs] ADD  DEFAULT (getdate()) FOR [DateSaved]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[StudentInterests] ADD  DEFAULT ((0)) FOR [Realistic]
GO
ALTER TABLE [dbo].[StudentInterests] ADD  DEFAULT ((0)) FOR [Investigative]
GO
ALTER TABLE [dbo].[StudentInterests] ADD  DEFAULT ((0)) FOR [Artistic]
GO
ALTER TABLE [dbo].[StudentInterests] ADD  DEFAULT ((0)) FOR [Social]
GO
ALTER TABLE [dbo].[StudentInterests] ADD  DEFAULT ((0)) FOR [Enterprising]
GO
ALTER TABLE [dbo].[StudentInterests] ADD  DEFAULT ((0)) FOR [Conventional]
GO
ALTER TABLE [dbo].[StudentInterests] ADD  DEFAULT (getdate()) FOR [DateTaken]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_App_Opp] FOREIGN KEY([OppID])
REFERENCES [dbo].[Opportunities] ([OppID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_App_Opp]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_App_Stu] FOREIGN KEY([StuID])
REFERENCES [dbo].[Student] ([StuID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_App_Stu]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Opp] FOREIGN KEY([OppID])
REFERENCES [dbo].[Opportunities] ([OppID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Opp]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Stu] FOREIGN KEY([StuID])
REFERENCES [dbo].[Student] ([StuID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Stu]
GO
ALTER TABLE [dbo].[Opportunities]  WITH CHECK ADD  CONSTRAINT [FK_Opp_Org] FOREIGN KEY([OrgId])
REFERENCES [dbo].[Organisation] ([OrgId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Opportunities] CHECK CONSTRAINT [FK_Opp_Org]
GO
ALTER TABLE [dbo].[SavedCareerDocs]  WITH CHECK ADD FOREIGN KEY([StuID])
REFERENCES [dbo].[Student] ([StuID])
GO
ALTER TABLE [dbo].[StudentInterests]  WITH CHECK ADD FOREIGN KEY([StuID])
REFERENCES [dbo].[Student] ([StuID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Organisation]  WITH CHECK ADD  CONSTRAINT [CHK_OrgStatus] CHECK  (([Status]='Rejected' OR [Status]='Active' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Organisation] CHECK CONSTRAINT [CHK_OrgStatus]
GO
USE [master]
GO
